.App {
  text-align: center;
  margin-top: 5vh;
}
#faq {
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.55);
  width: 70%;
  margin: 0 auto;
  background: rgb(94, 145, 184);
  color: white;
  padding: 1vh 5%;
  border-radius: 5px;
  margin-bottom: 5px;
}
#faq p {
  overflow: hidden;
  text-align: center;
  padding-right: 10px;
}
.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap h3 {
  padding-right: 10px;
}
.hide {
  display: none;
  transition: height 0.3s ease;
}
.show {
  display: inline-block;
  transition: height 0.3s ease;
}